@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');
/* font-family: 'Arvo', serif; */

@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
/* font-family: 'Bree Serif', serif; */

*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;

}
body{
    background-color: white;
}

.navbarTop{
    width: 100%;
    height: 10%;
    background-color: #222a31;
}

.navbarTop .judulWebsite{
    color: #eeeeee;
    size: 15px;
    font-family: 'Bree Serif', serif;
    font-weight: bold;
    padding: 2.5px;
    margin-left: 10px;
}

.searchBar{
    position: absolute;
    top: 2.4%;
    right: 1%;
}

.btn-outline-success {
    color: #45aeb5;
    border-color: #45aeb5;
}
  
.btn-outline-success:hover {
    color: #fff;
    background-color: #45aeb5;
    border-color: #45aeb5;
}
  
.navbarTop .btn-outline-success:focus, .navbarTop .btn-outline-success.focus {
    color: #fff;
    background-color: #45aeb5;
    border-color: #45aeb5;
}

.inputSearch{
    background-color: #eeeeee;
}

.navbarLeft{
    width: 10%;
    height: 90%;
    background-color: #393e46;
}

.navbarLeft ul li{
    padding-top: 20%;
}

.navbarLeft ul li a{
    text-decoration: none;
}

.navbarLeft ul li:hover h1{
    margin: auto;
    margin-top: -4%;
    transition: 0.3s;
    color: #45aeb5;
    width: 80%;
    border-bottom: solid 7px #eeeeee; 
}

.navbarLeft .iconHome img,
.navbarLeft .iconFertilizer img,
.navbarLeft .iconNote img,
.navbarLeft .iconSetting img{
    margin: 19%;
    margin-top: 0;
    margin-bottom: 0;
    width: 60%;
}

.navbarLeft .iconFertilizer img{
    width: 55%;
    margin: 22%;
    margin-top: 0;
    margin-bottom: 0;
}

.navbarLeft .textHome h1,
.navbarLeft .textFertilizer h1,
.navbarLeft .textNote h1,
.navbarLeft .textSetting h1{
    font-size: 20px;
    color: #eeeeee;
    font-weight: bold;
    text-align: center;
    margin-top: -4%;
}


.body{
    position: absolute;
    top: 11%;
    left: 10.5%;
    width: 89%;
    height: 88%;
    background-color: #45aeb5;
}

.content{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
}

.loginPage{
    z-index: 7;
}

.contentHome{
    z-index: 4;
}

.contentFertilizer{
    z-index: 3;
}

.contentNote{
    z-index: 2;
}

.contentSetting{
    z-index: 1;
}

.content .nameContent{
    margin: 1%;
    font-size: 32px;
    font-weight: bold;
    color: #222a31;
    border: solid 2px #393e46;
    width: 14%;
    text-align: center;
    padding: 0.4%;
}


/* LOGIN  LOGIN  LOGIN  LOGIN  LOGIN  LOGIN  LOGIN  LOGIN  LOGIN  LOGIN   LOGIN  LOGIN   LOGIN  LOGIN  */
/* LOGIN  LOGIN  LOGIN  LOGIN  LOGIN  LOGIN  LOGIN  LOGIN  LOGIN  LOGIN   LOGIN  LOGIN   LOGIN  LOGIN  */
/* LOGIN  LOGIN  LOGIN  LOGIN  LOGIN  LOGIN  LOGIN  LOGIN  LOGIN  LOGIN   LOGIN  LOGIN   LOGIN  LOGIN  */

.disableDesktop{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.418);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 6;
    display: none;
}

.loginPage{
    position: absolute;
    width: 50%;
    height: 80%;
    top: 5%;
    right: 30%;
    background-color: #54bbc2;
    border-radius: 2%;
    border: solid #222a31 2px;
    z-index: 7;
    display: none;
}

.loginPage .nameLoginPage{
    margin: 0;
    margin: auto;
    text-align: center;
    color: #222a31;
    font-weight: bold;
    margin-top: 6%;
    font-size: 50px;
    border: none;
}

.formLogin{
    position: relative;
    right: 0;
    left: 0;
}

.loginPage .formLogin{
    margin-top: 10%;
}

.loginPage .labelUsername, .loginPage .labelPassword{
    font-size: 23px;
    font-weight: bold;
    margin-top: -0.7%;
    color: #222a31;
    margin-left: 14.3%;
    margin-right: 3%;
}

.loginPage .inputUsername, .loginPage .inputPassword{
    background-color: #eeeeee;
    border-color: #222a31;
}

.buttonLogin button{
    color: #393e46;
    border-color: #222a31;
    margin-top: 10%;
    font-weight: bold;
}
  
.buttonLogin button:hover {
    color: #eeeeee;
    background-color: #393e46;
    border-color: #222a31;
}

.buttonLogin .button1{
    float: left;
    margin-left: 14.4%;
    border: solid #222a31 2px;
}

.buttonLogin .button2{
    float: right;
    margin-right: 16.5%;
    border: solid #222a31 2px;
}


/* FERTILIZER  FERTILIZER  FERTILIZER  FERTILIZER  FERTILIZER  FERTILIZER  FERTILIZER  FERTILIZER */
/* FERTILIZER  FERTILIZER  FERTILIZER  FERTILIZER  FERTILIZER  FERTILIZER  FERTILIZER  FERTILIZER */
/* FERTILIZER  FERTILIZER  FERTILIZER  FERTILIZER  FERTILIZER  FERTILIZER  FERTILIZER  FERTILIZER */

.tempatTable{
    margin: auto;
    overflow: auto;
    height: 70%;
    width: 65%;
    margin-top: 1%;
    position: absolute;
    left: 17.5%;
}

.table1{
    position: absolute;
    top: 0;
    z-index: 4;
}

.table2{
    position: absolute;
    top: 0;
    z-index: 3;
}

.table3{
    position: absolute;
    top: 0;
    z-index: 2;
}

.table4{
    position: absolute;
    top: 0;
    z-index: 1;
}

.contentFertilizer .mainTable{
    width: 100%;
}

.contentFertilizer .mainTable .nomer{
    width: 5%;
    border: solid #222a31 2px;
    background-color: #393e46;
}

.contentFertilizer .mainTable .judul1{
    width: 31%;
    border: solid #222a31 2px;
    background-color: #393e46;
}

.contentFertilizer .mainTable .judul2{
    width: 31%;
    border: solid #222a31 2px;
    background-color: #393e46;
}

.contentFertilizer .mainTable .judul3{
    width: 11%;
    border: solid #222a31 2px;
    background-color: #393e46;
}

.contentFertilizer .mainTable .judul4{
    width: 21%;
    border: solid #222a31 2px;
    background-color: #393e46;
}

.contentFertilizer .mainTable h1{
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #eeeeee;
}

.contentFertilizer .mainTable h2{
    margin: 2px;
    font-size: 16px;
}

.mainTable .obat{
    border: solid #222a31 2px;
    border-bottom: solid 1px;
    border-top: solid 1px;
}

.contentFertilizer .tersediaObat h2{
    text-align: center;
}

.contentFertilizer .hargaObatMenu,
.contentFertilizer .hargaObat h2{
}

.obat{
    background-color: #eeeeee;
}

.colomPutih{
    background-color: white;
}

.lihatHarga{
    color: #393e46;
    border-color: #222a31;
    position: absolute;
    top: 16%;
    right: 9%;
}
  
.lihatHarga:hover {
    color: #eeeeee;
    background-color: #393e46;
    border-color: #222a31;
}

.urutanList{
    position: absolute;
    width: 15%;
    top: 24%; 
    right: 1.5%;
}

.custom-select{
    background-color: #eeeeee;
    border-color: #222a31;
    color: #222a31;
}

.custom-select:hover{
    background-color: #222a31;
    color: #eeeeee;
}

.contentFertilizer .input-group-text{
    background-color: #eeeeee;
    color: #222a31;
    border-color: #222a31;
}